.carousel-container{
    position: relative;
    max-height: 605px;
    filter: drop-shadow(10px 10px 12px black);
    border: solid 5px silver;
}


.carousel-item  img {
    
    max-height: 700px;
    position: relative;
    background:cover;
    top: 0;
    transform: translateY(-15%);
    width: 100%;
}



@media (max-width: 768px) {
    .carousel-container{
        border:none;
    }
    .carousel-inner > .carousel-item {
        height:20vh;
    }
    
    .carousel-item  img {
        height: auto;
        max-height: 200px;
        position: relative;
        background:cover;
        top: 0;
        transform: translateY(-15%);
        width: 100%;
    }
}