

<input type="text" [(ngModel)]="title" name="title" nbInput fullWidth placeholder="Name">
<input type="text" [(ngModel)]="content" name="content" nbInput fullWidth placeholder="Message">

<button nbButton status="primary" type=submit value="Add a Post" (click)="addPost()" ><nb-icon icon="star"></nb-icon>submit</button>







  



<div *ngFor="let post of posts | async">
  <div class="container">
<nb-card>
  <nb-card-body>
    <nb-user size="giant"
             name="{{ post.title }}"
             title="{{ post.content }}" >
    </nb-user>
  </nb-card-body>
</nb-card>
</div>
</div>