card-title {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px black(255, 0, 0);
    
}

li {
    color: black;
    font-size: 1rem;
    
}

input {
    margin:10px;
}

button {
    margin: 10px;
}


.container {
    align-content: center;
    box-shadow: 2px 2px 4px white;
    padding: 10px;
    background-color: black;
    }