<section>
    <div>
    <button (click)="D2Roll(diceRoll)">D2</button>
    <button (click)="D4Roll(diceRoll)">D4</button>
    <button (click)="D6Roll(diceRoll)">D6</button>
    <button (click)="D8Roll(diceRoll)">D8</button>
    <button (click)="D10Roll(diceRoll)">D10</button>
    <button (click)="D20Roll(diceRoll)">D20</button>
    <button (click)="D100Roll(diceRoll)">D100</button>
    <button (click)="reset(diceRoll)">Reset</button>
    </div>
    <label #diceRoll id="diceRoll"> </label>
  </section>