<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
     <nb-card-front> <nb-card size="large"> 
      <img class="ddmap" src="/assets/images/bigDragon.jpg" />

  <i class="fas fa-info-circle fa-2x" (click)="toggleView()"></i>
  <p>click me!</p>
      </nb-card>
       </nb-card-front>
        <nb-card-back>
          <nb-card size="large">

          <p>A fun project for developing my personal web development skills with angular/nebular/typescript and all that cool stuff. Thanks for checking it out!. To collapse the side panels click the burger
            icon to the left of the D & D logo. This is being live devloped so expect the site to change frequently.
          </p>

          <img class="ddmap" src="/assets/images/enchantedForest.jpg" />

          <img class="bluDrag" src="/assets/images/tenor.gif" />

           <i class="fas fa-info-circle fa-2x" (click)="toggleView()"></i>
       </nb-card>
     </nb-card-back>
  </nb-flip-card>