<h1>Register</h1>

<nb-card>
    <nb-card-body class="example-items-rows">
      <input type="text" nbInput placeholder="Prefix"> 
      <input type="text" nbInput fullWidth placeholder="First Name">
      <input type="text" nbInput fullWidth placeholder="Last Name">
    </nb-card-body>
  </nb-card>


  <nb-card>
    <nb-card-body class="example-items-rows">
      <input type="text" nbInput fullWidth placeholder="Address Line 1">
      <input type="text" nbInput fullWidth placeholder="Address Line 2">
      <input type="text" nbInput placeholder="City">
      <input type="text" nbInput placeholder="State">
      <input type="text" nbInput placeholder="Zip/Postal Code">
    </nb-card-body>
  </nb-card>

  
  <nb-card>
    <nb-card-body class="example-items-rows">
      <input type="text" nbInput placeholder="Country">
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body class="example-items-rows">
      <input type="text" nbInput placeholder="Primary Telephone">
    </nb-card-body>
</nb-card>
      <nb-card>
        <nb-card-body class="example-items-rows">
      <input type="text" nbInput placeholder="Fax">
    </nb-card-body>
  </nb-card>
  <nb-card>
  <nb-card-body class="example-items-rows">
  <button nbButtonstatus="Submit"><nb-icon icon="star"></nb-icon>Submit</button>
</nb-card-body>
</nb-card>