<h1>Register</h1>

<nb-card>
    <nb-card-body class="example-items-rows">
      <input 
      type="text" 
      nbInput 
      placeholder="Prefix"
      ngModel
      #firstName="ngModel"
      name="Prefix"
      id=prefix
      type="text"
      class="form-control">
      <!-- not really sure what the name and id should be for each of these-->
      <input 
      type="text" 
      nbInput 
      fullWidth 
      placeholder="First Name"
      ngModel
      #firstName="ngModel"
      name="FirstName"
      id=FirstName
      type="text"
      class="form-control">
      <input 
      type="text" 
      nbInput 
      fullWidth 
      placeholder="Last Name"
      ngModel
      #firstName="ngModel"
      name="LastName"
      id=LastName
      type="text"
      class="form-control">
    </nb-card-body>
  </nb-card>


  <nb-card>
    <nb-card-body class="example-items-rows">
      <input 
      type="text" 
      nbInput 
      fullWidth 
      placeholder="Address Line 1"
      ngModel
      #firstName="ngModel"
      name="AddressLine1"
      id=AddressLine1
      type="text"
      class="form-control">
      <input 
      type="text" 
      nbInput 
      fullWidth 
      placeholder="Address Line 2"
      ngModel
      #firstName="ngModel"
      name="AddressLine2"
      id=AddressLine2
      type="text"
      class="form-control">
      <input 
      type="text" 
      nbInput 
      placeholder="City"
      ngModel
      #firstName="ngModel"
      name="City"
      id=City
      type="text"
      class="form-control">
      <input 
      type="text" 
      nbInput 
      placeholder="State"
      ngModel
      #firstName="ngModel"
      name="State"
      id=State
      type="text"
      class="form-control">
      <input 
      type="text" 
      nbInput 
      placeholder="Zip/Postal Code"
      ngModel
      #firstName="ngModel"
      name="ZipPostalCode"
      id=ZipPostalCode
      type="text"
      class="form-control">
    </nb-card-body>
  </nb-card>

  
  <nb-card>
    <nb-card-body class="example-items-rows">
      <input 
      type="text" 
      nbInput 
      placeholder="Country"
      ngModel
      #firstName="ngModel"
      name="Country"
      id=Country
      type="text"
      class="form-control">
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body class="example-items-rows">
      <input 
      type="text" 
      nbInput 
      placeholder="Primary Telephone"
      ngModel
      #firstName="ngModel"
      name="PrimaryTelephone"
      id=PrimaryTelephone
      type="text"
      class="form-control">
    </nb-card-body>
</nb-card>
      <nb-card>
        <nb-card-body class="example-items-rows">
      <input 
      type="text" 
      nbInput 
      placeholder="Fax"
      ngModel
      #firstName="ngModel"
      name="Fax"
      id=Fax
      type="text"
      class="form-control">
    </nb-card-body>
  </nb-card>
  <nb-card>
  <nb-card-body class="example-items-rows">
  <button nbButtonstatus="Submit"><nb-icon icon="star"></nb-icon>Submit</button>
</nb-card-body>
</nb-card>